kontaktruta.contact_us_header=Kontakta oss
streets.url=jdbc:oracle:thin:@XXX.XX.XX.XXX:XXXX:dbname
streets.username=XXX
streets.password=XXX

esb.handlecase.url=http://XXX?wsdl

smtpHost=XXXX.XXX.XXX

onlyMail=false

searchBasePerson=ou=personal,o=malmo
searchBaseFunction=ou=SiteVision,o=malmo