kontaktruta.contact_us_header=Kontakta oss
kontaktruta.link_email=true
kontaktruta.link_username=true
kontaktruta.show_avatar=true
kontaktruta.require_email=true
streets.url=jdbc:oracle:thin:@XXX.XX.XX.XXX:XXXX:dbname
streets.username=XXX
streets.password=XXX

esb.handlecase.url=http://XXX?wsdl

smtpHost=XXXX.XXX.XXX

onlyMail=false

searchBasePerson=ou=personal,o=malmo
searchBaseFunction=ou=SiteVision,o=malmo

contact.api.baseurl=http://XX.XX