#set ($contactObject = $contact.getContactObject($directoryUtil))
<dl>
	#parse("contact-name.vm")
	#foreach($attr in $contact.attributes)
		#set ($view = "contact-${attr}.vm")
		#parse($view)
	#end
</dl>