#if ($contactObject.visitingAddress)
<div class="adr">
	<h3 class="visiting-address v-$contact.id">Besöksadress</h3>
	<div class="street-address">$contactObject.visitingAddress</div>
	<div>
		<a class="show-on-map m-icon-location" title="$contactObject.visitingAddress" data-poi="$contactObject.visitingAddress" data-scroll-to=".visiting-address.v-$contact.id" data-map-selector=".contact-us-map.m-$contact.id" href="http://www.malmo.se/karta?poi=$esc.url($contactObject.visitingAddress)&zoomlevel=4&maptype=karta">Visa på karta</a>
	</div>
	<div class="contact-us-map m-$contact.id"></div>
</div>
#end