          
<form class="form-inline" id="choose-district">
  <div class="form-group">           
  	  <select name="district" class="form-control">           
         #foreach($d in $districts.keySet())
           <option value="$d.toLowerCase()"#if($district && $d == $district) selected="selected"#end>$districts.get($d)</option>
	     #end
      </select>
  </div>
  <div class="form-group">
      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" class="form-control ui-autocomplete-input" placeholder="Hitta stadsområde via adress" autocomplete="off">
  </div>
                        
</form>

               
				