#if ($contactObject.mail)
#if (!$useInContent)
<div class="write-to-us" data-contact-id="$contact.id" data-action="$writetousURL">
	<a href="/">Skriv till oss</a>
</div>
#end
	#if ($contactObject.mail.indexOf('@') > 22)
		#set ($mail = $contactObject.mail.replaceFirst("@", "<br/>@"))
	#else
		#set ($mail = $contactObject.mail)
	#end
<div>E-post: 
    #if ($linkEmail) 
        <span class="email"><a href="mailto:$mail">$mail</a></span>
    #else
        <span class="email">$mail</span>
    #end
</div>
#end