#set($asideClass = "contact-us basic")
#if ($contactBox.districtSelector)
	#set($asideClass = $asideClass + " multi-district")
#end
<aside class="$asideClass">
	#if (!$useInContent)   
    <h1>$contactUsHeader</h1>    
    #end         
    #if (($contactBox.text && $contactBox.text.length() > 0) && (($contactBox.districtSelector && $district) || !$contactBox.districtSelector))
     <p>$contactBox.text</p>
	#end
	                   
	#if ($contactBox.districtSelector)  
		#parse("district-selector.vm")
	#end
    
    #parse("vcard.vm")
    
    #if ($contactBox.districtSelector && $district && !$contactObject && $districts.get($district))
    <div>Du har valt $districts.get($district). Det finns ingen specifik kontaktinformation för #if(${areaTypeName}=="stadsdel") denna #else detta #end${areaTypeName}.</div>
    #end    
    
    #parse("contact-writeToUsForm.vm")                        
</aside>
