#set($springXhtmlCompliant = true)
#parse("head.vm")
<form id="contactForm" action="$renderResponse.createActionURL()" method="post">
	<fieldset style="padding:5px">
		<legend>Kontaktperson/funktion</legend>
		<input type="hidden" name="action"  value="$action" />
		<div>
		    #springBind("contact.type")
    		#foreach($type in $types.keySet())
        	<input id="type-$velocityCount" type="radio" name="${status.expression}" value="${type}"
        		#if("$!status.value" == "$type")
            		checked="checked"
        		#end
	        />
        	<label for="type-$velocityCount">${types.get($type)}</label>
    #end
			
		</div>
		<div>
			#springFormInput( "contact.cn" 'class="search"' )
			#springFormHiddenInput( "contact.dn" "" )
		</div>
		<div style="padding-top:20px;">
			<div style="float:left">
				<div>
					#springBind("contact.attributes")
					#foreach($option in $attributes.keySet())
					<div id="${option}" class="attributes novalue">
				        <input id="attribute-$velocityCount" type="checkbox" name="${status.expression}" value="${option}" 
				        #foreach($item in $status.value) 
				            #if($item == $option) checked="checked" #end 
				        #end
				        />
				        <label for="attribute-$velocityCount">${attributes.get($option)}</label>
				    </div>
				    #end				    
					<input type="hidden" name="_${status.expression}" value="on"/>					
				</div>
				#if ($districts)
				<div>
					<label class="label" for="district">
						#if($areaTypeName=="stadsdel") 
							Stadsdel 
						#else 
							Stadsområde 
						#end
					</label><br/>
					#springFormSingleSelect( "contact.district" $districts "" )				
				</div>
				#else
					#springFormHiddenInput( "contact.district" "" )
				#end
			</div>
			<div style="float:right;">
				<div class="sidebar">
	
					<div class="contact-box">
						#if (!$useInContent)
					    <div class="contact-box-header">
					
					        <h2>Kontakta oss</h2>
					        
					    </div><!-- / contact-box-header -->
						#end
					    <div class="contact-box-content-wrapper">
	    
	        				<div class="contact-box-content-container">
	
								<div class="contact-box-content">
								</div>
							
							</div>
							
						</div>
						
					</div>
					
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</fieldset>
	#if ($action == "add")
		#set ($label = "Lägg till")
	#else
		#set ($label = "OK")
	#end
	<div style="float:right; text-align:center; padding-top:10px;">			
		<div style="display:inline; padding-left:10px;"><input type="submit" id="ok" name="_ok" value="$label" class="button"/></div>
		<div style="display:inline; padding-left:10px;"><input type="submit" id="cancel" name="_cancel" value="Avbryt" class="button"/></div>
	</div>
	<div style="clear:both"></div>
</form>
<script type="text/javascript">
//<![CDATA[
	$(document).ready(function() {
		$("body").addClass("config");
	
		$('#cn').autocomplete({ 
    		serviceUrl:'$renderSoloURL',
		    minChars:4, 
		    delimiter: /(,|;)\s*/, // regex or character
		    maxHeight:400,
		    width:0,
		    deferRequestBy: 0, //miliseconds
		    params: { action:'searchJSON',type:$contact.type }, //additional parameters
		    // callback function:
		    onSelect: function(value, data){ 
                    
		    	$("#dn").val(data);
		    	contactAttributes();
		    	previewContact();
		    }
		});
		
		
		$("input[name='type']").change(function(){
			var ac = $("#cn")[0].autocompleter;
			var params = { action:"searchJSON",
						   type:$("input[name='type']:checked").val()};
			ac.setParams(params);
		});
		
		$("input[name='attributes']").click(function(){
			previewContact();
		});
		
		$("#ok").click(function(event) {
			var errors = new Array();
			if ($("#dn").val() == '') {
				errors[errors.length] = "Du måste välja en person/funktion!";
			}
			#if ($districts)
			if ($("#district").val() == '') {
				errors[errors.length] = "Du måste välja stadsområde!";
			}
			#end
			if (errors.length > 0) {
				alertMsg = '';
				for (i=0; i<errors.length; i++) {
					alertMsg += errors[i];
					alertMsg += '\n';
				}
				alert(alertMsg);
				event.preventDefault();				
			}			
		});
				
		contactAttributes();
		previewContact();
	});
	
	function previewContact() {
			var attrChecked = $("input[name='attributes']:checked");
			var attributes = new Array();
			for ( var i=0; i<attrChecked.length; i++ ) {
				attributes[attributes.length] = $(attrChecked[i]).val();
			}
			var params = {action:"preview",
						  type:$("input[name='type']:checked").val(),
						  cn:$("#cn").val(),
						  dn:$("#dn").val(),
						  attributes:attributes,
						  _attributes:"on",
						  district:""
			};
			jQuery.post("$renderSoloURL", params, function(data){
				$(".contact-box-content").html(data);
				//alert("Data Loaded: " + data);
			});
	}

	function contactAttributes() {
      
			var params = {action:"attributes",
						  type:$("input[name='type']:checked").val(),
						  cn:$("#cn").val(),
						  dn:$("#dn").val(),
						  _attributes:"on",
						  district:""
			};
			jQuery.getJSON("$renderSoloURL", params, function(data){
				$("div.attributes").removeClass("novalue");
				//alert("Data Loaded: " + data);
				for (var i=0; i<data.length; i++) {
					var q = "#"+data[i];
					$(q).addClass("novalue");
				}
			});
	}
//]]>
</script>
