#if ($contactObjectList.isEmpty() && $missingContacts)
    <div class="no-contact-available">Kontakten har tagits bort.</div>
#else
    #foreach($contact in $currentContacts)
    	
    	#set ($contactObject = $contactObjectList.get($contact.getKey()))    
        <div class="vcard" #if ($contactBox.districtSelector) id="district-$contact.district.toLowerCase()" style="display: none;" #end>
             #foreach($attr in $contact.attributes)
                #if ($attr == "avatar")
                    #set ($view = "contact-${attr}.vm")
                    #parse($view)
                 #end
            #end
            #parse("contact-name.vm")
    	    #foreach($attr in $contact.attributes)
    	        #if ($attr != "avatar")
                    #set ($view = "contact-${attr}.vm")
                    #parse($view)
                 #end
    	    #end    
        </div>
    #end
#end