#if ($contactObjectList.isEmpty() && $missingContacts)
    <div class="no-contact-available">Kontakten har tagits bort.</div>
#else
    #foreach($contact in $currentContacts)
    	
    	#set ($contactObject = $contactObjectList.get($contact.getKey()))    
        <div class="vcard" #if ($contactBox.districtSelector) id="district-$contact.district.toLowerCase()" style="display: none;" #end>
            #parse("contact-name.vm")
    	    #foreach($attr in $contact.attributes)
    		#set ($view = "contact-${attr}.vm")
    		#parse($view)
    	    #end    
        </div>
    #end
#end